/* Header Blog title*/
.header{
    background-color: white;
    padding-top: 2px;
    text-align: center;
}
h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: larger;
}
/* Style for header text*/
#bienvenida{
 color: #474747;
 font-style: italic;
}

h2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Style for whole page*/
body{
 text-align: justify;
 text-justify: inter-word;
 margin: 0 auto;
 max-width: 50em;
 color: #474747;
 background-color: #f1f1f1;
 padding: 10px;
}

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

/* creates a card in an article*/
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

/* Sets the img in the middle*/
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}


article.gallery {
    margin: 5px;
    float: left;
    width: 350px;
}
  
article.gallery:hover {
    box-sizing: content-box;
    border: 1px solid #111;
}
  
article.gallery img {
    display: block;
    width: 100%;
    height: 325px;
}

article.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* This creates de navbar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: #333;
}
  
li {
    float: left;
    border-right: 1px solid #bbb;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 11.27px;
    text-decoration: none;
}
  
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
}
  
/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
}